@media screen and (max-aspect-ratio: 13/9){
  body{
    background-image: url(img/bgmobile.png);
    background-position: fixed;
    background-size: 100%;
    overflow:hidden;
  }

  .dropdown {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    width: 55px;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }


  .iconsheet:focus .dropdown,
  .iconsheet:focus-within .dropdown,
  .iconsheet:hover .dropdown {
    visibility: visible; 
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; 
  }

  .loli:focus .aDigitale,
  .loli:focus-within .aDigitale,
  .loli:hover .aDigitale {
    visibility: visible; 
    opacity: 1;
    z-index: 1;
    transform: translateX(0%);
    transition-delay: 0s, 0s, 0.3s;
  }

  div.header {
    font-size: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55%;
    width: 600px;
    user-select: none;
    font-family: phapp;
    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  @font-face {
    font-family: phapp;
    src: url(font/jai.ttf);
  }

  form{
    width: 725px;
    margin-right: auto;
    margin-left: auto;
  }

  form.SearchBar input[type="text"]{
    margin-top: 20px;
    font-size: 15pt;
    padding: 10px;
    border-radius: 10px;
    width: 700px;
    height: 90px;
    border: 1px solid white;
    outline: none !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
  }

  div.loli{
    font-family: "sans-serif";
    width: 900px;
    height: 510px;
    background-image: url(img/loli.png);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: bottom right;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  div.aDigitale {
    visibility: hidden;
    width: 600px;
    height: 450px;
    border: solid 1px black;
    border-radius: 10px;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }

  p {
    padding: 5px;
    font-size: 25px;
  }

  h2 {
    padding: 5px;
    font-size: 35px;
  }

  .iconsheet {
    width: 130px;
  }

  .bigicon {
    width: 130px;
  }

  .icon {
    width: 60px;
    margin-left: 35px;
  }

  .disableMe {
    pointer-events: none;
    cursor: default;
  }
}
